<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="text/javascript"
            src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="/js/main.js"></script>
    <div class="col-md-2 col-md-offset-10">
        <h2>Logout</h2>
        <form name="f" th:action="@{/logout}" method="post">
            <button type="submit" class="btn">Log out</button>
        </form>
    </div>
</head>
<body>
<!--VIEW-->

<div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form name="login-form">
                    <div class="form-group">
                        <div class="department-name-search-class">
                            <input id="department-name-search"
                                   class="form-control"
                                   type="text"
                                   placeholder="Department name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="department-name-search-class">
                            <input id="department-name-search-button"
                                   type="submit"
                                   value="Search"
                                   class="btn btn-primary"
                                   onclick="searchByName()"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>Departments</h3>
        <table class="table table-hover table-responsive table-condensed"
               th:unless="${#lists.isEmpty(departments)}">
            <tr class="alert-info">   
                <td>id</td>
                <td>name</td>
                <td>date</td>
                <td></td>
                <td></td>
            </tr>
            <tr th:each="department : ${departments}">
                <td id="department-id"
                    th:text="${department.id}"></td>
                <td id="department-name">
                    <button class="btn btn-link"
                            type="button"
                            id="outputInfo"
                            th:value="${department.id}"
                            th:text="${department.name}"
                            th:title="info"
                            onclick="getInfo(this.value)"></button>
                </td>
                <td id="department-date"
                    th:text="${department.date}"></td>
                <td>
                    <button class="btn btn-link"
                            type="button"
                            id="department-id-delete"
                            th:value="${department.id}"
                            th:text="Delete"
                            th:title="info"
                            onclick="deleteDepartment(this.value)"></button>
                </td>
            </tr>
        </table>
        <a class="btn btn-primary"
           href="#"
           data-toggle="modal"
           data-target="#createDepartment">Create new department</a>
        <a class="btn btn-primary"
           href="#"
           data-toggle="modal"
           data-target="#updateDepartment">Update department</a>
    </div>

    <div class="container">
        <h3>Employees</h3>
        <table class="table table-hover table-responsive table-condensed"
               th:unless="${#lists.isEmpty(employees)}">
            <tr class="alert-info">                 
                <td>id</td>
                <td>firstname</td>
                <td>lastname</td>
                <td>patronymic</td>
                <td>gender</td>
                <td>birthdate</td>
                <td>hiredate</td>
                <td>dismissal</td>
                <td>salary</td>
                <td>chief</td>
                <td></td>
                <td></td>
            </tr>
            <tr th:each="employee : ${employees}">
                <td class="employee-id" th:text="${employee.id}"></td>
                <td class="employee-name" th:text="${employee.firstname}"></td>
                <td class="employee-date" th:text="${employee.lastname}"></td>
                <td class="employee-date" th:text="${employee.patronymic}"></td>
                <td class="employee-date" th:text="${employee.gender}"></td>
                <td class="employee-date" th:text="${employee.birthdate}"></td>
                <td class="employee-date" th:text="${employee.hiredate}"></td>
                <td class="employee-date" th:text="${employee.dismissal != 'null'? employee.dismissal: '-'}"></td>
                <td class="employee-date" th:text="${employee.salary}"></td>
                <td class="employee-date" th:text="${employee.chief == false? '-': 'chief'}"></td>
                <td>
                    <button class="btn btn-link"
                            type="button"
                            id="employee-id-delete"
                            th:value="${employee.id}"
                            th:text="Delete"
                            th:title="info"
                            onclick="deleteEmployee(this.value)"></button>
                </td>
                <td>
                    <button class="btn btn-link"
                            type="button"
                            id="employee-id-dismissal"
                            th:value="${employee.id}"
                            th:text="Dismissal"
                            th:title="info"
                            onclick="dismissalEmployee(this.value)"></button>
                </td>
            </tr>
        </table>
        <a class="btn btn-primary"
           href="#"
           data-toggle="modal"
           data-target="#createEmployee">Create new employee</a>
        <a class="btn btn-primary"
           href="#"
           data-toggle="modal"
           data-target="#updateEmployee">Update employee</a>
        <a class="btn btn-primary"
           href="#"
           data-toggle="modal"
           data-target="#transferEmployee">Transfer employee</a>
        <a class="btn btn-primary"
           href="#"
           data-toggle="modal"
           data-target="#transferEmployees">Transfer employees</a>
    </div>
</div>

<!--MODAl WINDOW-->
<!-- Delete Employee -->
<!--MODAl WINDOW-->
<!-- Update Department -->
<div class="modal fade"
     id="updateDepartment"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        type="button"
                        data-dismiss="modal">x
                </button>
            </div>
            <div class="modal-body">
                <div class="row ">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon col-xs-20"
                                  id="department-id-update-span">Department for update</span>
                            <select id="department-id-update"
                                    type="date"
                                    class="form-control"
                                    required="required"
                                    aria-describedby="department-id-update-span">
                                <option th:each="department : ${departments}"
                                        th:value="${department.id}"
                                        th:text="${department.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="form-group">
                        <div class="input-group">
                                                <span class="input-group-addon col-xs-20"
                                                      id="department-name-update-span">New name</span>
                            <input id="department-name-update"
                                   type="text"
                                   class="form-control"
                                   required="required"
                                   aria-describedby="department-name-update-span"/>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="form-group">
                        <div class="input-group">
                                                <span class="input-group-addon col-xs-20"
                                                      id="departmentMaster-id-update-span">New departments</span>
                            <select id="departmentMaster-id-update"
                                    type="date"
                                    class="form-control"
                                    required="required"
                                    aria-describedby="departmentMaster-id-update-span">
                                <option th:value="null"></option>
                                <option th:each="department : ${departments}"
                                        th:value="${department.id}"
                                        th:text="${department.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default"
                        type="button"
                        data-dismiss="modal"
                        th:text="Cancel"></button>
                <button class="btn btn-primary"
                        type="button"
                        onclick="updateDepartment()"
                        th:text="Update"></button>
            </div>
        </div>
    </div>
</div>
<!--MODAl WINDOW-->
<!-- Update Employee-->
<div class="modal fade"
     id="updateEmployee"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        type="button"
                        data-dismiss="modal">x
                </button>
                <h4 class="modal-title">Update employee</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-default"
                        type="button"
                        data-dismiss="modal"
                        th:text="Cancel"></button>
                <button class="btn btn-primary"
                        type="button"
                        onclick="updateEmployee()"
                        th:text="Update"></button>
            </div>
        </div>
    </div>
</div>
<!--Create Department-->
<div class="modal fade"
     id="createDepartment"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        type="button"
                        data-dismiss="modal">x
                </button>
                <h4 class="modal-title">Create department</h4>
            </div>
            <div class="modal-body">
                <div class="row ">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon col-xs-20"
                                  id="department-name-create-span">Name</span>
                            <input id="department-name-create"
                                   type="text"
                                   class="form-control"
                                   required="required"
                                   aria-describedby="department-name-create-span"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon col-xs-20"
                              id="department-date-create-span">Date</span>
                            <input id="department-date-create"
                                   type="date"
                                   class="form-control"
                                   required="required"
                                   aria-describedby="department-date-span"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon col-xs-20"
                              id="departmentMaster-id-create-span">Department-master</span>
                            <select id="departmentMaster-id-create"
                                    type="date"
                                    class="form-control"
                                    required="required"
                                    aria-describedby="departmentMaster-id-create-span">
                                <option th:each="department : ${departments}"
                                        th:value="${department.id}"
                                        th:text="${department.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default"
                        type="button"
                        data-dismiss="modal"
                        th:text="Cancel"></button>
                <button class="btn btn-primary"
                        type="button"
                        onclick="createDepartment()"
                        th:text="Create"></button>
            </div>
        </div>
    </div>
</div>
<!--Create Employee-->
<div class="modal fade"
     id="createEmployee"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        type="button"
                        data-dismiss="modal">x
                </button>
                <h4 class="modal-title">Create employee</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"
                              id="employee-firstname-create-span">Firstname</span>
                            <input id="employee-firstname-create"
                                   type="text"
                                   class="form-control"
                                   required="required"
                                   aria-describedby="employee-firstname-create-span"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"
                              id="employee-lastname-create-span">Lastname</span>
                            <input id="employee-lastname-create"
                                   type="text"
                                   class="form-control"
                                   required="required"
                                   aria-describedby="employee-lastname-create-span"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"
                              id="employee-patronymic-create-span">Patronymic</span>
                            <input id="employee-patronymic-create"
                                   type="text"
                                   class="form-control"
                                   required="required"
                                   aria-describedby="employee-patronymic-create-span"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"
                              id="employee-gender-create-span">Gender</span>
                            <select id="employee-gender-create"
                                    type="text"
                                    class="form-control"
                                    required="required"
                                    aria-describedby="employee-gender-create-span">
                                <option>male</option>
                                <option>female</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"
                              id="employee-birthdate-create-span">Birthdate</span>
                            <input id="employee-birthdate-create"
                                   type="date"
                                   class="form-control"
                                   required="required"
                                   aria-describedby="employee-birthdate-create-span"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"
                              id="employee-department-create-span">Department</span>
                            <select id="employee-department-create"
                                    class="form-control"
                                    required="required"
                                    aria-describedby="employee-department-create-span">
                                <option th:each="department : ${departments}"
                                        th:value="${department.id}"
                                        th:text="${department.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon "
                              id="employee-hiredate-create-span">Hiredate</span>
                            <input id="employee-hiredate-create"
                                   type="date"
                                   class="form-control"
                                   required="required"
                                   aria-describedby="employee-hiredate-create-span"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon "
                              id="employee-dismissal-create-span">Dismissal</span>
                            <input id="employee-dismissal-create"
                                   type="date"
                                   class="form-control"
                                   aria-describedby="employee-dismissal-create-span"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon "
                              id="employee-job-create-span">Job</span>
                            <select id="employee-job-create"
                                    class="form-control"
                                    required="required"
                                    aria-describedby="employee-job-create">
                                <option th:each="job : ${jobs}"
                                        th:value="${job.id}"
                                        th:text="${job.definition}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon "
                              id="employee-salary-create-span">Salary</span>
                            <input id="employee-salary-create"
                                   type="number"
                                   class="form-control"
                                   required="required"
                                   aria-describedby="employee-salary-create-span"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"
                              id="employee-chief-create-span">Chief</span>
                            <input id="employee-chief-create"
                                   type="checkbox"
                                   class="form-control"
                                   required="required"
                                   aria-describedby="employee-chief-create-span"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default"
                        type="button"
                        data-dismiss="modal"
                        th:text="Cancel"></button>
                <button class="btn btn-primary"
                        type="button"
                        onclick="createEmployee()"
                        th:text="Create"></button>
            </div>
        </div>
    </div>
</div>
<!--MODAl WINDOW-->
<!-- Transfer Employee-->
<div class="modal fade"
     id="transferEmployee"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        type="button"
                        data-dismiss="modal">x
                </button>
                <h4 class="modal-title">Transfer employee</h4>
            </div>
            <div class="modal-body">
                <div class="row ">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"
                                  id="employee-id-transfer-span">Employee</span>
                            <select id="employee-id-transfer"
                                    type="date"
                                    class="form-control"
                                    required="required"
                                    aria-describedby="employee-id-transfer-span">
                                <option th:each="employee : ${employees}"
                                        th:value="${employee.id}"
                                        th:text="${employee.firstname + ' ' + employee.lastname + ' ' + employee.patronymic}"></option>
                            </select>
                            <span class="input-group-addon"
                                  id="department-id-transfer-span">New department</span>
                            <select id="department-id-transfer"
                                    type="date"
                                    class="form-control"
                                    required="required"
                                    aria-describedby="department-id-transfer-span">
                                <option th:each="department : ${departments}"
                                        th:value="${department.id}"
                                        th:text="${department.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default"
                        type="button"
                        data-dismiss="modal"
                        th:text="Cancel"></button>
                <button class="btn btn-primary"
                        type="button"
                        onclick="transferEmployee()"
                        th:text="Transfer"></button>
            </div>
        </div>
    </div>
</div>
<!--MODAl WINDOW-->
<!-- Transfer Employees-->
<div class="modal fade"
     id="transferEmployees"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        type="button"
                        data-dismiss="modal">x
                </button>
                <h4 class="modal-title">Transfer all employees</h4>
            </div>
            <div class="modal-body">
                <div class="row ">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"
                                  id="department-id-transfer-employees-span">Department</span>
                            <select id="department-id-transfer-employees"
                                    type="date"
                                    class="form-control"
                                    required="required"
                                    aria-describedby="department-id-transfer-employees-span">
                                <option th:each="department : ${departments}"
                                        th:value="${department.id}"
                                        th:text="${department.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default"
                        type="button"
                        data-dismiss="modal"
                        th:text="Cancel"></button>
                <button class="btn btn-primary"
                        type="button"
                        onclick="transferEmployees()"
                        th:text="Transfer"></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>